<main class="col-12 col-md-9 col-xl-10 px-4 pt-4">
  <%= yield %>

  <%= link_to "Add New Equipment", new_equipment_path, class: "btn btn-success" if logged_in?(:admin) %>

  <div class="row">
    <%= render partial: 'labor_item', collection: @labor_items, booking_item: @booking_item %>
  </div>
</main>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if session[:source] %>
    <p> Thanks for visiting Mylab from <%= session[:source] %> </p>
<% end %>

<script>
    $('.view-details').click(function(){
        var $this = $(this);
        $this.toggleClass('view-details');
        if($this.hasClass('view-details')){
            $this.text('Show description');
        } else {
            $this.text('Hide description');
        }
    });
</script>