<%= render "shared/application_nav" %>
<%= yield %>
<%= link_to "Register", new_user_session_path, class: "btn btn-secondary add-new" if current_user.is_a?(GuestUser) %>
<%= link_to "Login", new_user_session_path, class: "btn btn-success login" if current_user.is_a?(GuestUser) %>
<%= link_to "Add New Equipment", new_equipment_path, class: "btn btn-secondary add-new" if logged_in?(:labor_staff) %>
<div class="row equipment-container">
  <%= form_with(model: @booking) do |form| %>
      <div class="row">
        <div class="form-group col-md-2">
          <%= form.label :pickup_date %>
        </div>
        <div class="form-group col-md-3">
          <%= form.text_field :pickup_date, class: "form-control", :data => {:provide => "datepicker"} %>
        </div>
        <div class="form-group col-md-2">
          <%= form.label :return_date %>
        </div>
        <div class="form-group col-md-3">
          <%= form.text_field :return_date, class: "form-control", :data => {:provide => "datepicker"} %>
        </div>
        <div class="form-group col-md-2">
          <%= button_to "Search", "", class: "btn btn-info" %>
        </div>
      </div>
  <% end %>

</div>

<div class="row equipment-container">
  <%= render partial: 'labor_item', collection: @available_items, booking_item: @booking_item %>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if session[:source] %>
    <p> Thanks for visiting Mylab from <%= session[:source] %> </p>
<% end %>