<h1>Create a new Portfolio Item</h1>
<%= form_for(@labor_item) do |form| %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :inv_nr %>
      <%= form.text_area :inv_nr %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>