<h1>Show Equipment Details</h1>


<%= image_tag @labor_item.main_image %>

<h1><%= @labor_item.name %></h1>
<p><%= @labor_item.equipment_status.name %></p>
<em><%= @labor_item.description %></em>

<%= link_to 'Edit', edit_equipment_path(@labor_item) if logged_in?(:labor_staff) %>
<%= link_to 'Back', equipment_index_path %>


