<div class="container ml-content pt-4">
  <div class="row">
  	<div class="col-12">
  	  <div class="card">
  	  	<div class="row">
          <div class="col-xs-12 col-md-6">
            <%= image_tag equipment_img(@labor_item.main_image, 'main'), width: '100%', class: "img-fluid"  %>
		      </div>
          <div class="col-xs-12 col-md-6">
            <div class="card-body">
              <h2 class="card-title"><%= @labor_item.name + " - " +(@labor_item.inv_nr).to_s %></h2>
              <%= link_to 'Edit', edit_equipment_path(@labor_item), class: "btn btn-primary" if logged_in?(:admin) %>
              <%= link_to 'Back', equipment_index_path, class: "btn btn-primary" %>
            </div>
          </div>
		    </div>
        <div class="row">
          <div class="col-12">
           <div class="card-body">
             <p class="card-text"><%= @labor_item.description %></p>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

