<li class="list-primary" data-id="<%= booking.id %>">
  <div class="task-checkbox">
    <input type="checkbox" class="list-child" value=""  />
  </div>
  <div class="task-title">
    <span class="task-title-sp"> <%=  link_to booking.uuid, booking_path(booking) %> </span>
    <span class="badge bg-theme"><%= booking.booking_status.name %></span>
    <div class="pull-right hidden-phone">
      <%= link_to "Remove", booking_path(booking), class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to "Process", booking_path(booking), class: "btn btn-success btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to "Details", edit_booking_path(booking), class: "btn btn-info btn-xs fa fa-pencil" %>
    </div>
  </div>
</li>
