<section class="ml-content">

  <nav class="nav nav-tabs" id="bookingTab" role="tablist">
    <a class="nav-item nav-link active" id="nav-list-tab" data-toggle="tab" href="#nav-list" role="tab" aria-controls="nav-home" aria-selected="true">Sortable List</a>
    <a class="nav-item nav-link" id="nav-calendar-tab" data-toggle="tab" href="#nav-calendar" role="tab" aria-controls="nav-profile" aria-selected="false">Calendar</a>
  </nav>
  <div class="wrapper tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
      <div class="row mt mb">
        <div class="col-sm-2 no-padding">
          <section class="task-panel tasks-widget">
            <div class="panel-heading">
              <div class="pull-left"> Pending </div>
            </div>
            <div class="panel-body">
              <div class="task-content">
                <ul id='sortable' class="pending <%= "sortable" if logged_in?(:admin) %> ">
                  <%= render @bookings_pending %>

                </ul>
              </div>
            </div>
          </section>
        </div><!--/col-sm-2 -->
        <div class="col-sm-2 no-padding">
          <section class="task-panel">
            <div class="panel-heading"> Confirmed </div>
            <div class="panel-body">
              <div class="task-content">
                <ul id='sortable' class="confirmed <%= "sortable" if logged_in?(:admin) %> ">
                  <%= render @bookings_confirmed %>

                </ul>
              </div>
            </div>
          </section>
        </div><!--/col-sm-2 -->
        <div class="col-sm-2 no-padding">
          <section class="task-panel tasks-widget">
            <div class="panel-heading">Claimed</div>
            <div class="panel-body">
              <div class="task-content">
                <ul id='sortable' class="claimed <%= "sortable" if logged_in?(:admin) %> ">
                  <%= render @bookings_claimed %>

                </ul>
              </div>
            </div>
          </section>
        </div><!--/col-sm-2 -->
        <div class="col-sm-2 no-padding">
          <section class="task-panel tasks-widget">
            <div class="panel-heading">Unclaimed </div>
            <div class="panel-body">
              <div class="task-content">
                <ul id='sortable' class="unclaimed <%= "sortable" if logged_in?(:admin) %> ">
                  <%= render @bookings_unclaimed %>
                </ul>
              </div>
            </div>
          </section>
        </div><!--/col-sm-2 -->
        <div class="col-sm-2 no-padding">
          <section class="task-panel tasks-widget">
            <div class="panel-heading">Overdue </div>
            <div class="panel-body">
              <div class="task-content">
                <ul id='sortable' class="overdue <%= "sortable" if logged_in?(:admin) %> ">
                  <%= render @bookings_overdue %>

                </ul>
              </div>
            </div>
          </section>
        </div><!--/col-sm-2 -->
        <div class="col-sm-2 no-padding">
          <section class="task-panel tasks-widget">
            <div class="panel-heading">Returned </div>
            <div class="panel-body">
              <div class="task-content">
                <ul id='sortable' class="returned <%= "sortable" if logged_in?(:admin) %> ">
                  <%= render @bookings_returned %>

                </ul>
              </div>
            </div>
          </section>
        </div><!--/col-sm-2 -->
      </div><!-- /row -->
    </div>
    <div class="tab-panel fade" id="nav-calendar" role="tabpanel" aria-labelledby="nav-calendar-tab">
      <div class="row mt">
        <aside class="col-md-2 mt">
        </aside>
        <aside class="col-md-9 mt">
          <section class="panel">
            <div class="panel-body">
              <div id="calendar" class="has-toolbar"></div>
            </div>
          </section>
        </aside>
      </div>
    </div>
  </div>
</section>

<!--calendar end-->

<script>
    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        selectable: true,
        selectHelper: true,
        editable: true,
        eventLimit: true,
        events: '/bookings/indexadmin.json',

        select: function() {
            $.getScript('/bookings/new', function() {});

            fullCalendar('unselect');
        },

        eventDrop: function(event, delta, revertFunc) {
            booking_data = {
                booking: {
                    id: event.id,
                    pickup_date: event.start.format(),
                    return_date: event.end.format()
                }
            };
            $.ajax({
                url: event.update_url,
                data: booking_data,
                type: 'PATCH'
            });
        },

        eventClick: function(event, jsEvent, view) {
            $.getScript(event.edit_url, function() {});
        }

    });
</script>

