<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'bookings', media: 'all', 'data-turbolinks-eval' =>'false'%>
  <%= javascript_include_tag 'application'%>
</head>

<body>
<section id="main-content">
  <section class="wrapper">
    <h3>All Bookings</h3>
    <div class="row mt mb">
      <div class="col-sm-2 no-padding">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"> Pending </div>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul id='sortable' class="task-list <%= "sortable" if logged_in?(:labor_staff) %> ">
                <%= render @bookings_pending %>

              </ul>
            </div>
          </div>
        </section>
      </div><!--/col-sm-2 -->
      <div class="col-sm-2 no-padding">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"> Confirmed </div>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul id='sortable' class="task-list <%= "sortable" if logged_in?(:labor_staff) %> ">
                <%= render @bookings_confirmed %>

              </ul>
            </div>
          </div>
        </section>
      </div><!--/col-sm-2 -->
      <div class="col-sm-2 no-padding">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"> Claimed </div>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul id='sortable' class="task-list <%= "sortable" if logged_in?(:labor_staff) %> ">
                <%= render @bookings_claimed %>

              </ul>
            </div>
          </div>
        </section>
      </div><!--/col-sm-2 -->
      <div class="col-sm-2 no-padding">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"> Unclaimed </div>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul id='sortable' class="task-list <%= "sortable" if logged_in?(:labor_staff) %> ">
                <%= render @bookings_unclaimed %>

              </ul>
            </div>
          </div>
        </section>
      </div><!--/col-sm-2 -->
      <div class="col-sm-2 no-padding">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"> Overdue </div>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul id='sortable' class="task-list <%= "sortable" if logged_in?(:labor_staff) %> ">
                <%= render @bookings_overdue %>

              </ul>
            </div>
          </div>
        </section>
      </div><!--/col-sm-2 -->
      <div class="col-sm-2 no-padding">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"> Returned </div>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul id='sortable' class="task-list <%= "sortable" if logged_in?(:labor_staff) %> ">
                <%= render @bookings_returned %>

              </ul>
            </div>
          </div>
        </section>
      </div><!--/col-sm-2 -->
    </div><!-- /row -->
  </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->

</body>

</html>



