<body>
<section id="main-content">
  <section class="wrapper">
    <h3>All Bookings</h3>
    <div class="row mt mb">
      <div class="col-sm-2 no-padding">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"> Pending </div>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul id='sortable' class="task-list <%= "sortable" if logged_in?(:labor_staff) %> ">
                <%= render @bookings_pending %>

              </ul>
            </div>
          </div>
        </section>
      </div><!--/col-sm-2 -->
      <div class="col-sm-2 no-padding">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"> Confirmed </div>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul id='sortable' class="task-list <%= "sortable" if logged_in?(:labor_staff) %> ">
                <%= render @bookings_confirmed %>

              </ul>
            </div>
          </div>
        </section>
      </div><!--/col-sm-2 -->
      <div class="col-sm-2 no-padding">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"> Claimed </div>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul id='sortable' class="task-list <%= "sortable" if logged_in?(:labor_staff) %> ">
                <%= render @bookings_claimed %>

              </ul>
            </div>
          </div>
        </section>
      </div><!--/col-sm-2 -->
      <div class="col-sm-2 no-padding">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"> Unclaimed </div>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul id='sortable' class="task-list <%= "sortable" if logged_in?(:labor_staff) %> ">
                <%= render @bookings_unclaimed %>

              </ul>
            </div>
          </div>
        </section>
      </div><!--/col-sm-2 -->
      <div class="col-sm-2 no-padding">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"> Overdue </div>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul id='sortable' class="task-list <%= "sortable" if logged_in?(:labor_staff) %> ">
                <%= render @bookings_overdue %>

              </ul>
            </div>
          </div>
        </section>
      </div><!--/col-sm-2 -->
      <div class="col-sm-2 no-padding">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"> Returned </div>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul id='sortable' class="task-list <%= "sortable" if logged_in?(:labor_staff) %> ">
                <%= render @bookings_returned %>

              </ul>
            </div>
          </div>
        </section>
      </div><!--/col-sm-2 -->
    </div><!-- /row -->
  </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->

</body>

</html>


<!-- calendar start-->

<section id="main-content">
  <section class="wrapper ml-content">
    <h3><i class="fa fa-angle-right"></i> Booking Calendar</h3>
    <!-- page start-->
    <div class="row mt">
      <aside class="col-md-2 mt">
      </aside>
      <aside class="col-md-9 mt">
        <section class="panel">
          <div class="panel-body">
            <div id="calendar" class="has-toolbar"></div>
          </div>
        </section>
      </aside>
    </div>
    <!-- page end-->
  </section><! --/wrapper -->
</section>

<!--calendar end-->

<script>
    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        selectable: true,
        selectHelper: true,
        editable: true,
        eventLimit: true,
        events: '/bookings/indexadmin.json',

        select: function() {
            $.getScript('/bookings/new', function() {});

            fullCalendar('unselect');
        },

        eventDrop: function(event, delta, revertFunc) {
            booking_data = {
                booking: {
                    id: event.id,
                    pickup_date: event.start.format(),
                    return_date: event.end.format()
                }
            };
            $.ajax({
                url: event.update_url,
                data: booking_data,
                type: 'PATCH'
            });
        },

        eventClick: function(event, jsEvent, view) {
            $.getScript(event.edit_url, function() {});
        }

    });
</script>

