<main class="container ml-content pt-4">

    <div class="row">
      <div class="col-md-6">
          <h3 class="card-title">Booking Details </h3>
          <p>Created At: <%= @booking.created_at %></p>
          <p>Pickup Date: <%= @booking.pickup_date %></p>
          <p>Return Date: <%= @booking.return_date %></p>
          <p>Message: <%= @booking.message %></p>
          <%= link_to 'Edit',edit_booking_path(@booking), class: "btn btn-info" %>
          <%= link_to 'Back',bookings_path, class: "btn btn-info" if !logged_in?(:user) %>
          <%= link_to 'Back',indexadmin_bookings_path, class: "btn btn-info" if logged_in?(:user) %>
      </div>
      <div class="col-md-6">
          <h3 class="card-title">Booking Items </h3>
          <% if !@booking_item.nil? && @booking_item.errors.any? %>
              <div class="alert alert-danger">
                  <ul>
                  <% @booking_item.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                      </ul>
                  <% end %>
              </div>
          <% end %>
          <% if @booking_items.size == 0 %>
              <p class="text-center">
                  There are no items in the equipment list.
              </p>
              <%= link_to 'Equipment', equipment_index_path, class: "btn btn-info" if logged_in?(:user) %>
          <% else %>
            <div class="list-group-item">
              <% @labor_items.each do |labor_item| %>
                <div class="row">
                    <div class="col-4 col-sm-3 col-md-2 mb-3">
                      <%= image_tag equipment_img(labor_item.thumb_image, 'thumb'), class: "img-fluid rounded" %>
                    </div>

                    <div class="col-12 col-sm-6 col-md-8 order-2 order-sm-1">
                      <div class="row">
                        <div class="col-12 col-sm-12 col-md-6">
                          <h6><%= labor_item.name + " - " +(labor_item.inv_nr).to_s %></h6>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6">
                          <div class="input-group tooltip-toggle text-right" aria-label="Minimum: 1, maximum: available amount" tabindex="0">
                            <span class="input-group col-7">
                              <%= labor_item.quantity.to_i  %>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
          <% end %>
      </div>
  </div>
</main>
