<nav class="navbar fixed-top navbar-dark bg-primary navbar-expand-md ml-navbar">
    <%= link_to "MyLab", root_path, class: 'navbar-brand mylab' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnav" aria-controls="mainnav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainnav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <%= link_to "Home", root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to "About", about_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to "Contact", contact_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to "Equipment", equipment_index_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to "Projects", projects_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to "My List", mylist_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
                <%= link_to "Booking", indexadmin_bookings_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to "Admin Board", admin_board_path, class: 'nav-link'%>
            </li>
            <%= login_helper %>
        </ul>
    </div>
</nav>

    