
      <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <h4 class="mylab"><%= link_to "MyLab", root_path %></h4>
        <nav class="nav nav-masthead">
        <%= link_to "Home", root_path, class: 'nav-link' %>
        <%= link_to "About", about_path, class: 'nav-link' %>
        <%= link_to "Contact", contact_path, class: 'nav-link' %>
        <%= link_to "Equipment", equipment_index_path, class: 'nav-link' %>
        <%= link_to "Projects", projects_path, class: 'nav-link' %>
        <%= link_to "Booking", indexadmin_bookings_path, class: 'nav-link' %>
        <%= link_to "Admin Board", admin_board_path, class: 'nav-link'%>
        <%= login_helper 'nav-link'  %>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="ðŸ”">
        </form>
        </nav>
    </nav>
 

    