<div class="<%= location %>">
  <div><%= link_to "Home", root_path %></div>
  <div><%= link_to "Impressum", impressum_path %></div>
  <div><%= link_to "Equipment", equipment_index_path %></div>
  <div><%= link_to "Projects", projects_path %></div>
</div>