<section class="jumbotron jumbotron-fluid ml-content">
  <div class="container">
    <h1 class="display-3">My Lab</h1>
    <h5 class="">A demo website for booking and managing laboratory equipment.</h5>
  </div>
</section>

<div class="album">
  <div class="container">
    <p>Hi <%= current_user.first_name %> </p>
    <h3 class="padding-top">New Equipment</h3>
    <div class="row">
      <% @new_items.each do |new_item| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <%= image_tag equipment_img(new_item.thumb_image, 'thumb'), class: "card-img-top", width: '100%' %>
          <div class="card-body">
            <h4 class="card-title"><%= link_to new_item.name, equipment_path(new_item)  %></h4>
            <p class="card-text"><%= new_item.description %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <h3 class="padding-top">New Projects</h3>
    <div class="row">
      <% @new_projects.each do |new_project| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <%= image_tag project_img(new_project.thumb_image, 'thumb'), class: "card-img-top", width: '100%' %>
          <div class="card-body">
            <h4 class="card-title"><%= link_to new_project.name, project_path(new_project) %></h4>
            <p class="card-text"><%= new_project.description %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <h3 class="padding-top">Recently Booked</h3>
    <div class="row">
      <% @recently_booked_items.each do |recent_item| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <%= image_tag equipment_img(recent_item.thumb_image, 'thumb'), class: "card-img-top", width: '100%'  %>
          <div class="card-body">
            <h4 class="card-title"><%= link_to recent_item.name, equipment_path(recent_item)  %></h4>
            <p class="card-text"><%= recent_item.description %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

      <h3 class="padding-top">Most Favorite Equipment</h3>
      <div class="row">
        <% @fav_items.each do |fav_item| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <%= image_tag equipment_img(fav_item.thumb_image, 'thumb'), class: "card-img-top", width: '100%' %>
            <div class="card-body">
              <h4 class="card-title"><%= link_to fav_item.name, equipment_path(fav_item)  %></h4>
              <p class="card-text"><%= fav_item.description %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>