<h1>Show Project Details</h1>


<%= image_tag @project.main_image %>

<h1><%= @project.name %></h1>
<em><%= @project.description %></em>

<%= link_to 'Edit', edit_project_path(@project) if logged_in?(:labor_staff) %>
<%= link_to 'Back', projects_path %>


