<tr>

  <td>
    <%= image_tag labor_item.thumb_image, class: "rounded ml-img-list" %>
  </td>

  <td class="item-img" >
    <%= labor_item.name + " - " +(labor_item.inv_nr).to_s %>
  </td>

  <td>
    <%= form_for booking_item do |f| %>
      <div class="input-group">
        <%= f.number_field :quantity, value: booking_item.quantity.to_i, class: "form-control", min: 1, max: labor_item.available_quantity(params[:pickup_date], params[:return_date])  %>
        <span class="input-group-btn">
          <%= f.submit "Update Quantity" , class: "btn btn-primary" %>
        </span>
      </div>
      <%= f.hidden_field :equipment_id, value: labor_item.id %>
    <% end %>
  </td>

  <td>
    <%= link_to "Remove" , booking_item, { data: { confirm: "Are you sure you wish to delete the equipment '#{booking_item.equipment.name}' from your list" }, method: :delete, class: "btn btn-danger" } %>
  </td>

</tr>