<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'projects', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= login_helper %>

    <%= yield %>
    <% if logged_in?(:admin) %>
      <%= render "shared/admin_application_nav"%>
    <% else%>
      <%= render "shared/application_nav"%>
    <% end %>

    <% if session[:source] %>
      <p> Thanks for visiting Mylab from <%= session[:source] %> </p>
    <% end %>
  </body>
</html>
